*{
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #183a66;
    color: #fff;
}

.jumbotron {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #003165;
}

.card, .btn {
    border-radius: 0;
}

.ask-box {
    margin-bottom: 32px
}

#question-input {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #0e86ca;
    border-radius: 0;
}

#question-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#question-input:focus {
    box-shadow: none;
    color: #fff;
}

#question-input:focus::placeholder {
    color: #fff; 
}

#submit {
    background: transparent;
    color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #0e86ca;
}

#submit:hover {
    background: #00aeff;
    transition: color .2s;
}

#submit:focus {
    box-shadow: none;
}

#submit:active {
    background: #55c4f8;
}

.guest-text {
    color: rgba(255, 255, 255, 0.5);
}

a {
    color: #00aeff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

form {
    margin-bottom: 0;
}

.active-question {
    height: 180px;
    background: #003165;
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
}

#active {
    height: 24px;
}

#timer {
    height: 20px;
}

#sketch-box {
    height: 40px;
}

#agree, #disagree {
    width: 90px;
    border: none;
    /* background: #00aeff; */
}

#agree:hover {
    background: #32a33f;
}

#disagree:hover {
    background: #a23131;
}

#agree:focus, #disagree:focus {
    box-shadow: none;
}

.tba-card {
    margin-top: 32px;
    background: #003165;
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.card-title {
    font-variant: small-caps;
}

.table td {
    border-top: 1px solid #0e86ca;
}

.guest-text{
    visibility:hidden;
}

.rating {
    margin-right: 8px;
    width: 40px;
}

.votes {
    width: 15px;
    cursor: pointer;
    margin-right: 10px;
}

.fas:hover {
    color: #0e86ca;
}

button#timer {
    position: relative;
    width: 100%;
}
#timer_container{
    background: #333;
  }
.upvote, .downvote {
    color: #fff;
}

.upvote[data-vote="upvoted"], .downvote[data-vote="downvoted"] {
    color: #00aeff;
}

.modal-content {
    background: #183a66;
    border-radius: 0;
}

.close {
    color: #fff;
    text-shadow: none;
    opacity: 1;
}

.close:hover {
    color: #00aeff !important;
}