*{
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}

.ask-box {
    margin-bottom: 32px;
}

#submit {
    margin: 5px 0 0 15px;
}

form {
    margin-bottom: 0;
}